// You may want to install webpack-node-externals to 
// exclude node_modules from the server bundle. 
const nodeExternals = require('webpack-node-externals');
const fs = require('fs');
const path = require('path');
 
module.exports = {
  entry: './bin/www',
  target: 'node',
  context: __dirname,
  externals: [ nodeExternals() ],
  output: {
    path: path.join(__dirname, '/dist'),
    filename: 'app.js',
  },
  module: {
    loaders: [
      { test: /\.js$/, loader: 'babel-loader' },
      { test: /\.scss$/, loader: 'css/locals?module!sass' },
    ],
  },
};